<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule\Metadata\ValueProvider">
        <plugin name="FreeProduct" type="C4B\FreeProduct\Plugin\SalesRule\Model\MetadataValueProvider" sortOrder="10" />
    </type>
</config>